body{
    text-align: center;
}
h1{
    color: slategray;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    color: white;
    font-size: 50px;

}

h3{
    font-size: 50px;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 200px;
}

img{

    height: 400px;
}

a{
    color: slategray;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}


